# frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# backend
# 数据库实例文件
instance/*
backend/instance/*
backend/.env

# Python虚拟环境
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo